body{
    background: linear-gradient(pink,purple);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    body h1{
        font-family: comic sans ms;
        text-align: center;
        color: white;
    }
    form table{
        width: 60%;
        margin: 2px auto;
    }
    form table caption {
        font-size: 22px;
        color: white;
        padding: 15px;
    }
    form table th, td{
        width: 25%;
        text-align: left;
        vertical-align: top;
        border: 2px solid white;
        padding: 3px;
    }
    input{
        background-color: white;
    }
    input[type="submit"]{
        background-color: aliceblue !important;
    }